<!DOCTYPE html>
<html lang="en">

<!-- Include head -->
<%- include('./partials/head.ejs') %>

    <body>
        <!-- Navbar -->
        <%- include('./partials/navRegistered.ejs') %>

            <main class="details-container">

                <div class="details">
                    
                    <div class="tiedot">
                        <p><%=blog.date%></p>
                        <p>Made by <%= blog.username%></p>
                    </div>

                        <%# katsotaan onko kirjautuneen id sama kuin blogin tehneen id, jos on niin tuodaan delete nappi esille %>
                        <% if(setUserId === blogCreaterId) { %>
                            <a class="delete-btn" data-doc="<%=blog._id %>">Delete</a>
                        <% } %>
                    
                </div>
                
                <div class="details-content">

                    <h1>
                        <%= blog.title %>
                    </h1>
                    <p>
                        <%=blog.body %>
                    </p>

                </div>

                
                

                


            </main>


            <!-- Footer -->
            <%- include('./partials/footer.ejs') %>



    </body>

    <script>
        const trashcan = document.querySelector('a.delete-btn');

        trashcan.addEventListener('click', (e) => {
            console.log("clicked");
            const endpoint = `/home/${trashcan.dataset.doc}`;

            fetch(endpoint, {
                method:'DELETE'
            })
            .then((response)=> response.json())
            .then((data) => window.location.href = data.redirect)
        })  .catch(err => console.log(err));
    </script>

</html>