<!DOCTYPE html>
<html lang="en">

<!-- Include head -->
<%- include('./partials/head.ejs') %>

    <body>

        <!-- Navbar -->
        <%- include('./partials/navRegistered.ejs') %>

            

        <div class="omat-tiedot-container">
            <div class="omat-about">
                <h1>omat tiedot</h1>
            </div>
            
            <div class="omat-content">
                <p>Käyttäjänimi: <%= userName %>
                </p>
                <p>Postatut blogit: <%= numberOfPosts %>
                </p>
                <p>Rekisteröinti päivä: <%= registeredDate %>
                </p>
            </div>
            
        </div>

            

        <!-- Footer -->
            
        <%- include('./partials/footer.ejs') %>

    </body>