<!DOCTYPE html>
<html lang="en">

<!-- Include head -->
<%- include('./partials/head.ejs') %>

    <body>
        <!-- Navbar -->
        <%- include('./partials/nav.ejs') %>

        <div class="page-h1">
            <h1>register</h1>
            <p>Jotta voit ruveta luomaan omaa blogia, sinun on ensiksi kirjauduttava sivullemme</p>
        </div>

        
        <section class="register-section">
            <form action="/register" method="POST" class="form-section">
                <% if(locals.usererr) { %>
                    <div class="alert alert-danger" role="alert">
                        <%= usererr %>
                    </div>
                    <% } %>
                <label for="username">Username: </label>
                <input type="text" id="username" name="username">
                <br/>

                <!-- Jos salasanat eiv채t t채sm채채 niin tulee virhe ilmoitus -->
                <% if(locals.errmsg) { %>
                    <div class="alert alert-danger" role="alert">
                        <%= errmsg %>
                    </div>
                <% } %>
                <label for="password">password: </label>
                <input type="text" id="password" name="password">
                <label for="password2">repeat password: </label>
                <input type="text" id="password2" name="password2">
                
                <button>Submit</button>
            </form>
            
            
        </section>



        <!-- Footer -->
        <%- include('./partials/footer.ejs') %>
    </body>

</html>